*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
color:#fff;
overflow-x:hidden;
}

section{
padding:80px 20px;
text-align:center;
}

h2{
font-family:'Playfair Display',serif;
font-size:3rem;
margin-bottom:30px;
}

.hero{
height:100vh;
background:url('../images/hero.jpeg');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
z-index:2;
}

.hero-content h3{
font-size:1.2rem;
letter-spacing:3px;
margin-bottom:20px;
}

.hero-content h1{
font-family:'Playfair Display',serif;
font-size:4rem;
margin-bottom:20px;
}

.hero-content p{
font-size:1.2rem;
line-height:1.8;
}

.btn{
display:inline-block;
margin-top:25px;
padding:14px 30px;
background:#c28d7d;
color:#fff;
text-decoration:none;
border-radius:40px;
}

.countdown{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.time-box{
background:#111;
padding:20px;
border-radius:20px;
width:120px;
}

.time-box span{
font-size:2rem;
font-weight:bold;
color:#f6c6b8;
}

.event-card{
background:#111;
padding:30px;
border-radius:20px;
max-width:600px;
margin:auto;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery img{
width:100%;
height:350px;
object-fit:cover;
border-radius:20px;
transition:.4s;
}

.gallery img:hover{
transform:scale(1.03);
}

.venue-card{
background:#fff;
color:#222;
padding:30px;
border-radius:20px;
max-width:650px;
margin:auto;
}

.map-btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#4285F4;
color:white;
text-decoration:none;
border-radius:30px;
}

.blessing{
font-size:1.2rem;
max-width:600px;
margin:auto;
}

footer{
padding:40px 20px;
background:#050505;
text-align:center;
}

.developer-credit{
margin-top:15px;
font-size:11px;
color:#aaa;
line-height:1.8;
}

.developer-credit a{
color:#aaa;
text-decoration:none;
}

#musicBtn{
position:fixed;
top:20px;
right:20px;
z-index:999;
padding:12px 20px;
border:none;
border-radius:30px;
background:#c28d7d;
color:white;
cursor:pointer;
}

@media(max-width:768px){

.hero-content h1{
font-size:2.7rem;
}

h2{
font-size:2rem;
}

.gallery img{
height:280px;
}

}